<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <systemspecs_remita>
                <debug>1</debug>
                <active>0</active>
                <test_mode>1</test_mode>
                <model>RemitaFacade</model>
                <remita_public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <remita_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <order_status>pending_payment</order_status>
                <title>Remita Payment Gateway</title>
                <currency>NGN</currency>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
				 <allowspecific>0</allowspecific>
                <min_order_total>100</min_order_total>
                <max_order_total>500000</max_order_total>
            </systemspecs_remita>
        </payment>
    </default>
</config>
